header{
  text-align: center;
  background-color: aqua;
}


.container{
  margin-bottom: 5rem;
}
.Horned_container{
  width: 50%;
  text-align: center;
}
.Horned_container img{
    width: 300px;
    height: 200px;
}
.Horned_container h2{
    padding: 6px;
    border-bottom: 2px solid aqua;
    border-radius: 30px;
    margin: 10px;
}

footer{
  background-color: rgb(1, 24, 24);
  color: #FFF;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-weight: bolder;
  height: 3.5rem;
}

footer div{
  margin-top: 10px;
}

img{
    width: 255px;
    height: 200px;
}
.card{
  display: inline-table;
  margin: 10px;
  width: 31%;
}
.card-body{
  text-align: center;
}
.card-footer button{
  margin-left: 10px;
}
span{
    font-weight: bold;
    float: right;
    margin-top: 15px;
}
i{
  float: right;
  font-size: 1.3rem;
  color: red;
  margin-top: 10px;
}
.close{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 8px;
}
.close:hover{
  background-color: #8f202b;
  border-color: #8f202b;
}
.modal-body{
  text-align: center;
}
.modal-body p{
  padding: 5px;
  font-weight: 600;
  border: 2px solid;
  border-radius: 20px;
  margin-top: 10px
}
.modal-body img{
  width: 300px;
  box-shadow: 0 0 8px rgb(112, 112, 112);
  border-radius: 40px;
}
.modal-header{
  font-weight: 700;
}