header{
  text-align: center;
  background-color: aqua;
}


.container{
  margin-bottom: 5rem;
}
.Horned_container{
  width: 50%;
  text-align: center;
}
.Horned_container img{
    width: 300px;
    height: 200px;
}
.Horned_container h2{
    padding: 6px;
    border-bottom: 2px solid aqua;
    border-radius: 30px;
    margin: 10px;
}

footer{
  background-color: rgb(1, 24, 24);
  color: #FFF;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-weight: bolder;
  height: 3.5rem;
}

footer div{
  margin-top: 10px;
}

img{
    width: 150px;
    height: 200px;
}
.card{
  display: inline-table;
  margin: 10px;
}

span{
    font-weight: bold;
    float: right;
    margin-top: 4px;
}
i{
  float: right;
  font-size: 1.3rem;
  color: red;
}